body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background-gradient {
    background: linear-gradient(to bottom, #1a1a1a, #000);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    border-bottom: 4px solid #4a5568;
    display: inline-block;
}

.description {
    color: #a0aec0;
    padding: 1rem 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
    padding: 2rem;

}

.grid-item {
    box-shadow: 0 4px 6px rgba(235, 231, 231, 0.534);
    transition: transform 0.5s;
    padding: 2rem;
    border-radius: 0.5rem;
}

.image {
    width: 120px;
}


.grid-item:hover {
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .grid.grid-cols-2.sm\\:grid-cols-3.gap-8.text-center.py-8.px-12.sm\\:px-0 {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .py-6 {
        padding: 10px;
    }

    .shadow-md.hover\\:scale-105.duration-500.py-2.rounded-lg {
        margin-bottom: 16px;
    }
}